In [48]:
import os
import pandas as pd

path = 'return-data/'
filelist = os.listdir(path) 
dfs = [pd.read_json(path+file, lines=True) for file in filelist]
toydata = pd.concat(dfs, ignore_index=True)

In [49]:
toydata.head()

                     basket  returnLabel  totalAmount  transactionId  zipCode
0  [1, 1, 0, 2, 5, 1, 2, 2]            0          264     5221131913     2321
1        [1, 4, 4, 3, 2, 4]            1           60     4768566069     7597
2                       [5]            0           60     4791292369     1176
3                 [0, 4, 3]            0          333     4672834572     3087
4        [2, 3, 1, 2, 0, 0]            0          378     8750635039     9400